.a00{
  color: white;
  background-color: black;
  width:30px;
  height:30px;
  float: left;
}
.a01{
  color: white;
  background-color: black;
  width:60px;
  height:30px;
  float: left;
}
.a02{
  color: white;
  background-color: black;
  width:60px;
  height:30px;
  float: left;
}
.a03{
  color: white;
  background-color:black;
  width:60px;
  height:30px;
  float: left;
}
.a04{
  color: white;
  background-color: black;
  width:60px;
  height:30px;
  float: left;
}
.a05{
  color: white;
  background-color: black;
  width:60px;
  height:30px;
  float: left;
}
.a06{
  color: white;
  background-color:black;
  width:60px;
  height:30px;
  float: left;
}.a07{
   color: white;
   background-color: black;
   width:60px;
   height:30px;
   float: left;
 }
.a08{
  color: white;
  background-color: black;
  width:60px;
  height:30px;
  float: left;
}
.a09{
  color: white;
  background-color:black;
  width:30px;
  height:30px;
  float: left;
}




.a10 {
  color: white;
  background-color: black;
  width: 30px;
  height: 60px;
  float: left;
}
.a11{
  background-color: burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a12{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a13{
  background-color:burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a14{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a15{
  background-color: burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a16{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a17{
  background-color: burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a18 {
  background-color: brown;
  width: 60px;
  height: 60px;
  float: left;
}

.a19{
  color: white;
  background-color:black;
  width:30px;
  height:60px;
  float: left;
}





.a20 {
  color: white;
  background-color: black;
  width: 30px;
  height: 60px;
  float: left;
}
.a21{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a22{
  background-color: burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a23{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a24{
  background-color: burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a25{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a26{
  background-color: burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a27{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a28{
  background-color:burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a29{
  color: white;
  background-color:black;
  width:30px;
  height:60px;
  float: left;
}


.a30 {
  color: white;
  background-color: black;
  width: 30px;
  height: 60px;
  float: left;
}
.a31{
  background-color: burlywood;
  width:60px;
  height:60px;
  float:left;
}
.a32{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a33{
  background-color:burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a34{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a35{
  background-color: burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a36{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a37{
  background-color: burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a38{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a39{
  color: white;
  background-color:black;
  width:30px;
  height:60px;
  float: left;
}




.a40 {
  color: white;
  background-color: black;
  width: 30px;
  height: 60px;
  float: left;
}
.a41{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a42{
  background-color: burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a43{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a44{
  background-color: burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a45{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a46{
  background-color: burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a47{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a48{
  background-color:burlywood;
  width:60px;
  height:60px;
  float: left;
}.a49{
   color: white;
   background-color:black;
   width:30px;
   height:60px;
   float: left;
 }




.a50 {
  color: white;
  background-color: black;
  width: 30px;
  height: 60px;
  float: left;
}
.a51{
  background-color: burlywood;
  width:60px;
  height:60px;
  float:left;
}
.a52{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a53{
  background-color:burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a54{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a55{
  background-color: burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a56{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a57{
  background-color: burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a58{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a59{
  color: white;
  background-color:black;
  width:30px;
  height:60px;
  float: left;
}




.a60 {
  color: white;
  background-color: black;
  width: 30px;
  height: 60px;
  float: left;
}
.a61{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a62{
  background-color: burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a63{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a64{
  background-color: burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a65{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a66{
  background-color: burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a67{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a68{
  background-color:burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a69{
  color: white;
  background-color:black;
  width:30px;
  height:60px;
  float: left;
}




.a70 {
  color: white;
  background-color: black;
  width: 30px;
  height: 60px;
  float: left;
}
.a71{
  background-color: burlywood;
  width:60px;
  height:60px;
  float:left;
}
.a72{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a73{
  background-color:burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a74{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a75{
  background-color: burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a76{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a77{
  background-color: burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a78{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a79{
  color: white;
  background-color:black;
  width:30px;
  height:60px;
  float: left;
}




.a80 {
  color: white;
  background-color: black;
  width: 30px;
  height: 60px;
  float: left;
}
.a81{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a82{
  background-color: burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a83{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a84{
  background-color: burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a85{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a86{
  background-color: burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a87{
  background-color: brown;
  width:60px;
  height:60px;
  float: left;
}
.a88{
  background-color:burlywood;
  width:60px;
  height:60px;
  float: left;
}
.a89{
  color: white;
  background-color:black;
  width:30px;
  height:60px;
  float: left;
}

.a90{
  color: white;
  background-color: black;
  width:30px;
  height:30px;
  float: left;
}
.a91{
  color: white;
  background-color: black;
  width:60px;
  height:30px;
  float: left;
}
.a92{
  color: white;
  background-color: black;
  width:60px;
  height:30px;
  float: left;
}
.a93{
  color: white;
  background-color:black;
  width:60px;
  height:30px;
  float: left;
}
.a94{
  color: white;
  background-color: black;
  width:60px;
  height:30px;
  float: left;
}
.a95{
  color: white;
  background-color: black;
  width:60px;
  height:30px;
  float: left;
}
.a96{
  color: white;
  background-color:black;
  width:60px;
  height:30px;
  float: left;
}.a97{
   color: white;
   background-color: black;
   width:60px;
   height:30px;
   float: left;
 }
.a98{
  color: white;
  background-color: black;
  width:60px;
  height:30px;
  float: left;
}
.a99{
  color: white;
  background-color:black;
  width:30px;
  height:30px;
  float: left;
}


.clear {
  clear: left;
}
.align{
  text-align: center;
}
